

  
.cabecalho {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color:  #113a0f;
}
  
  
.cabecalho nav{ 
    display: flex; 
    width: 60%; 
    height: 100%; 
    justify-content: space-around;
    flex-wrap: wrap;
} 

.cabecalho nav ul {
    display: flex;
    list-style: none;
}

 
.cabecalho a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
  
.cabecalho nav li:not(:last-child) {
    margin-right: 1rem;
}
  
.cabecalho nav a {
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.2s ease-in-out;
}
  
.cabecalho a:hover {
    text-decoration: none;
    color: white;
}

.cabecalho  a:hover {
    background-color:  rgba(14, 53, 15, 0.909);
}