
/* Estilos da seção hero */
.conteudo-back   {
    background-image: url('../img/trigo.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
  }

  .conteudo-back2   {
    background-image: url('../img/agricultura-background.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
  }

  .conteudo-back3  {
    background-image: url('../img/ai-cloud-concept-with-robot-head.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
  }
  
  
  .conteudo {
    padding: 50px 210px;
    text-align: center;

  }

.conteudo h2{
  font-size: 40px;
  margin-bottom: 20px;
}

  .conteudo-back h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .conteudo-back2 h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  
  .texto p {
    font-size: 20px;
    margin-bottom: 40px;
  }
  
  .btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
  } 
  
  /* Estilos da seção features */
  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
  }
  
  .card {
    text-align: center;
    margin: 0 20px;
  }
  
  .card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  .testimonial {
    background-color: #113a0f;
    padding: 100px 0;
    text-align: center;
  }
  
  .testimonial blockquote {
    font-style: italic;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .testimonial blockquote p {
    font-size: 24px;
  }
  
  .testimonial blockquote cite {
    font-weight: bold;
  }